<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${node}] ${message}"/>

  <include file="$(find marslite_control)/launch/keyboard_teleoperation.launch">
    <arg name="use_shared_controller" value="true"/>
  </include>

  <!-- <node name="test_shared_control" pkg="marslite_control" type="test_shared_control" output="screen">
  </node> -->
</launch>