<launch>
  <!-- Load hardware configuration -->
  <rosparam file="$(find marslite_control)/config/hardware_config.yaml" command="load"/>

  <!-- Joint state publisher -->
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner"
        args="joint_state_controller" respawn="false" output="screen"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="my_cartesian_motion_controller
              my_motion_control_handle"/>
</launch>
