<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${node}] ${message}"/>

  <arg name="position_scale" default="0.8"/>
  <arg name="orientation_scale" default="0.8"/>
  <include file="$(find marslite_control)/launch/motion_controller_teleoperation.launch">
    <arg name="position_scale" value="$(arg position_scale)"/>
    <arg name="orientation_scale" value="$(arg orientation_scale)"/>
    <arg name="use_shared_controller" value="true"/>
  </include>

  <node name="shared_control_node" pkg="marslite_control" type="shared_control_node" output="screen">
  </node>
</launch>