<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

  <arg name="use_sim" default="false"/>
  <arg name="use_shared_controller" default="false"/>

  <rosparam file="$(find marslite_control)/config/motion_controller_teleoperation.yaml" command="load"/>
  <node name="motion_controller_teleoperation_node" pkg="marslite_control"
        type="motion_controller_teleoperation_node" output="screen">
    <param name="use_sim" value="$(arg use_sim)"/>
    <param name="use_shared_controller" value="$(arg use_shared_controller)"/>
  </node>
</launch>