<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${node}] ${message}"/>

  <include file="$(find marslite_control)/launch/test_keyboard_teleoperation.launch"/>

  <arg name="use_shared_controller" default="false"/>
  <node name="test_shared_control" pkg="marslite_control" type="test_shared_control" output="screen">
    <param name="use_shared_controller" value="$(arg use_shared_controller)"/>
  </node>
</launch>